.everyCloth {
  animation: page 0.7s ease-in-out;

  .navPath {
    margin: 35px 0 25px;
  }

  &__inner {
    display: flex;
    gap: 20px;

    .line {
      background: transparent !important;
      margin: 10px 0 0 0 !important;
    }

    .dopContant {
      width: 100%;

      .titles {
        padding: 17px 15px 12px;
        background: #f0f0f0;
        border-radius: 10px;

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;

          span {
            display: block;
            font-size: 18px;
            line-height: 18px;
            text-align: left;
            color: #909090;
          }

          b {
            display: block;
            font-size: 16px;
            line-height: 16px;
            text-align: right;
          }
        }

        h5 {
          font-size: 24px;
          line-height: 24px;
        }
      }

      .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f0f0f0;
        padding: 15px 15px 12px;

        p {
          font-size: 24px;
          line-height: 24px;
          color: #050505;
        }

        span {
          font-size: 22px;
          line-height: 22px;
          text-align: right;
        }
      }
    }
  }
}

/////////////////////////////////// адаптивка
.everyCloth {
  @media (max-width: 1110px) {
    &__inner {
      flex-direction: column;
    }
    .navPath {
      margin: 8px 0px 10px;

      div:nth-child(1) {
        display: none;
      }

      div:nth-child(2) {
        > img {
          display: none;
        }
      }
    }
  }

  @media (max-width: 540px) {
    &__inner {
      .dopContant {
        .titles {
          padding: 7px 10px;

          > div {
            span {
              font-size: 12px;
            }

            b {
              font-size: 12px;
              color: #909090;
            }
          }

          h5 {
            font-size: 16px;
          }
        }

        .prices {
          padding: 10px;
          p {
            font-size: 16px;
          }

          span {
            font-size: 16px;
          }
        }

        .types {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}

@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
