.clothList {
  width: 100%;

  &__inner {
    // padding: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 30px 20px;
    @media (max-width: 1235px) {
      gap: 10px;
    }

    .emptyData {
      height: 50vh;
      min-width: 100%;
      vertical-align: center;
      text-align: center;
      padding-top: 250px;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      color: #050505;
    }
  }
}

////////////////////////////////// адаптивка
.clothList {
  &__inner {
    @media (max-width: 1235px) {
      gap: 10px;
    }
    @media (max-width: 1215px) {
      justify-content: flex-start;
    }
    @media (max-width: 910px) {
      gap: 25px;
    }
    @media (max-width: 645px) {
      gap: 10px;
    }
    @media (max-width: 500px) {
      gap: 5px;
      justify-content: space-between;
    }
  }
}
