.priceMeter {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 15px 0;
  min-width: 80px;

  .price {
    border: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 15px 15px 12px;

    p {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }

    p:nth-child(1) {
      min-width: 40px;
      text-align: left;
    }
  }

  .meter {
    border: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
    padding: 15px 15px 12px;
    min-width: 80px;

    p {
      font-size: 18px;
      line-height: 18px;
      text-align: center;
    }

    p:nth-child(1) {
      min-width: 30px;
      text-align: left;
    }
  }

  .counter {
    display: flex;
    gap: 5px;
    align-items: center;

    &__num {
      padding: 14px 17px 11px 15px;
      border: 1px solid #050505;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 18px;
        line-height: 18px;
        text-align: center;
      }
    }

    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button:nth-child(1) {
        width: 20px;
        height: 20px;
        transform: rotate(180deg);
      }

      button:nth-child(2) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
