.priceMeter {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px;
  min-width: 80px;

  .price {
    display: flex;
    gap: 5px;

    .meter {
      background: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      border-radius: 10px;
      padding: 15px 15px 12px;
      min-width: 80px;

      p {
        font-size: 18px;
        line-height: 20px;
        color: #434343;
        // width: 55px;
        text-align: right;
      }

      .second {
        width: 35px;
      }

      span {
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #bcbcbc;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;

    .basketBtn {
      width: 86px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 28px;
        height: 28px;
      }
    }

    .counter {
      display: flex;
      align-items: center;
      gap: 5px;

      .count {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0f0;
        border-radius: 10px;
        padding-top: 2px 0 0 0;

        p {
          text-align: center;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
        }
      }

      > button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #fafafa;
        border-radius: 10px;

        > img {
          width: 20px;
          height: 20px;
        }
      }

      .increment {
        background: #828282;
      }

      .decrement {
        background: #828282;
      }
    }

    .actionInBasket {
      font-family: "Cygre Book", sans-serif;
      background: #050505;
      width: 200px;
      height: 50px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      border-radius: 10px;
    }

    .favouriteAction {
      .activeFav,
      .favoriteBtn {
        img {
          width: 28px;
          height: 28px;
        }
      }
    }

    .haveBasket {
      width: 366px !important;
    }
  }

  .resultAction {
    background: #f0f0f0;
    padding: 10px 10px 13px;
    border-radius: 10px;
    margin: 20px 0 0 0;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 3px 0 0 0;

      b {
        margin: 0;
        color: #909090;
        font-size: 14px;
        line-height: 16px;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

/////////////////////////////////// адаптивка
.priceMeter {
  @media (max-width: 1160px) {
    .actions {
      .favouriteAction {
        display: none !important;
      }

      > button {
        order: 1;
        width: 100%;
      }

      .counter {
        order: 2;
      }
    }

    .resultAction {
      @media (max-width: 540px) {
        div {
          b {
            font-size: 12px;
          }
        }
      }
    }
  }
}
