.parent_everyBlock {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin: 10px auto;
  background-color: aquamarine;
  border-radius: 8px;
}
.active {
  text-decoration: line-through;
}
