.main_input {
  width: 600px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  font-size: 20px;
}
.main_input::placeholder {
  padding-left: 15px;
  font-size: 20px;
}
.parent_block_btns {
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px auto;
}
.parent_block_btns > button {
  width: 80px;
  height: 30px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}
.parent_block_btns > button:hover {
  background-color: black;
  color: white;
}
