.userInputAddres {
  margin-top: 5px;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;

  .line {
    margin: 15px 0 25px;
  }

  h6 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    text-align: left;
  }

  .choiceCloth {
    cursor: pointer;
  }

  .twoInputs {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    .choiceCloth {
      width: 300px;
      font-size: 18px;
    }
  }
}
