.prices {
  margin: 5px 0px 0px;
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;

  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  span {
    font-size: 18px;
    line-height: 18px;
    color: #050505;
  }

  b {
    font-size: 18px;
    line-height: 18px;
  }

  p {
    color: #050505;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
  }
}
