.basket {
  animation: page 0.7s ease-in-out;
  margin-bottom: 200px;

  @media (max-width: 930px) {
    margin-bottom: 0px;
  }

  .navPath {
    margin: 10px 0px 15px;
  }

  &__inner {
    h4 {
      font-size: 30px;
      font-weight: 700;
      line-height: 20px;
      margin: 25px 0 55px;
    }

    h5 {
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
    }

    .line {
      margin: 20px 0;
    }

    .goDecor {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      background: #050505;
      color: #fff;
      display: none;

      @media (max-width: 500px) {
        display: block;
      }
    }
  }

  &__child {
    display: flex;
    gap: 20px;

    @media (max-width: 605px) {
      width: 100%;

      @media (max-width: 500px) {
        gap: 10px;
      }
    }
  }
}

/////////////////////////////////// адаптивка

.basket {
  @media (max-width: 930px) {
    margin-bottom: 0px;

    .actions {
      display: none;
    }
  }
}

@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
