.parent_userBlock {
  width: 450px;
  padding: 20px 0px 20px 30px;
  margin: 30px auto;
  border: 5px solid gray;
  border-radius: 10px;
  background-color: black;
}

.parent_userBlock li {
  font-size: 25px;
  list-style: none;
  color: aliceblue;
  margin: 5px 0;
}
