.sale {
  animation: page 0.7s ease-in-out;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    position: relative;
  }
}

/////// адаптивка
.sale {
  &__inner {
    @media (max-width: 1289px) {
      gap: 10px;
    }

    @media (max-width: 1215px) {
      gap: 30px;
    }

    @media (max-width: 930px) {
      gap: 10px;
    }

    @media (max-width: 910px) {
      flex-direction: column;
      gap: 0;
    }
  }
}

@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
