.block_for_posts {
  width: 500px;
  height: 200px;
  margin: 10px auto;
  background-color: chartreuse;
  padding: 20px 10px;
  border-radius: 8px;
  border: 2px solid black;
}
.block_for_posts h3{
    margin-top: 8px;
}
