.successful_parent {
  position: absolute;
  z-index: 99;
  top: 30%;
  left: 32%;
  color: white;
  background-color: black;
  font-size: 25px;
  font-weight: 600;
  padding: 80px;
  border-radius: 8px;
}
