.footer {
  width: 100%;
  background: #050505;

  &__container {
    max-width: 1280px;
    margin: 200px auto 0px;
  }

  .imgSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    > div {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__main {
    width: 100%;
    background-color: #050505;
    padding: 50px 20px 40px;

    .titleMain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 40px;

      h4 {
        display: flex;
        flex-direction: column;

        p {
          font-family: 'Righteous', sans-serif;
          font-size: 28px;
          font-weight: 400;
          line-height: 35px;
          display: block;
          width: 150px;
          color: #fff;
        }

        span {
          font-family: 'Righteous', sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          display: block;
          width: 150px;
          color: #fff;
        }
      }
    }

    .textInfo {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 80px;

      > div {
        p {
          font-family: Cygre;
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          text-align: left;
          color: #fff;
          margin: 10px 0 3px 0;
        }

        span {
          display: block;
          font-size: 18px;
          font-weight: 400;
          line-height: 18px;
          text-align: right;
          color: #fff;
          height: 20px;
          margin-bottom: 5px;
        }

        b {
          font-size: 14px;
          line-height: 14px;
          color: #444444;
        }
      }
    }

    .more {
      align-items: flex-end;
      margin-top: 20px;
    }

    button {
      width: 255px;
      height: 40px;
    }
  }
}

/////////////////////////////////// адаптивка
.footer {
  @media (max-width: 540px) {
    .m150 {
      margin: 150px auto 0;
    }

    .m20 {
      margin: 20px auto 0;
    }

    .m100 {
      margin: 100px auto 0;
    }
  }

  @media (max-width: 540px) {
    &__main {
      padding: 30px 10px 130px;

      .titleMain {
        margin-bottom: 25px;
      }

      .textInfo {
        gap: 20px;

        p {
          font-size: 14px !important;
        }
      }
    }
  }
}
