.descriptions {
  padding: 10px 15px;
  background: #f7f7f7;
  border-radius: 10px;

  &__main {
    animation: page 0.7s ease-in-out;

    > p {
      font-size: 14px !important;
      font-weight: 300;
      line-height: 16px !important;
      padding-right: 15px;
      margin-top: 15px;
      animation: page 0.9s ease-in-out;
      width: 93%;
    }

    .moreSescr {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-top: 10px;
      animation: page 0.9s ease-in-out;
      transition: 0.5s;

      > div {
        display: flex;
        align-items: center;
        gap: 8px;

        span,
        p {
          font-size: 16px !important;
          font-weight: 400;
          line-height: 16px !important;
          margin: 0 !important;
          text-transform: lowercase;
        }

        span {
          color: #9b9b9b !important;
        }
      }
    }
  }
}

/////////////////////////////////// адаптивка
.descriptions {
  @media (max-width: 540px) {
    padding: 0 10px 10px;
    &__main {
      .moreSescr {
        > div {
          &::before {
            content: "";
            width: 2px;
            height: 2px;
            background: #050505;
            margin: 0 10px;
          }
          span,
          p {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
