.deliveryPay {
  &__moreResult {
    padding: 15px;

    .agreementCofidantion {
      display: flex;
      gap: 10px;
      cursor: pointer;
      align-items: center;

      .moreText {
        max-width: 630px;

        span {
          font-size: 16px;
          line-height: 18px;
          color: #3366bb;
          position: relative;
          text-decoration: underline;
        }
      }

      p {
        font-size: 16px;
        line-height: 18px;
        text-align: left;
        display: inline;
      }
    }

    .resultAction {
      .action {
        span {
          font-size: 18px;
          line-height: 18px;
          background: #fff;
          border: none;
        }
      }
    }
  }
}

.everyChoiceDecor {
  margin: 15px 0 0px 0;
  cursor: pointer;

  > div {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .moreInfo {
    width: 424px;
    display: block;
    background: #050505;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0 0 0;

    p {
      font-size: 16px;
      line-height: 20px;
      color: #fff;
    }

    span {
      font-size: 16px;
      line-height: 20px;
      color: #aaaaaa;
    }
  }
}

.roundImg {
  min-width: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  animation: modal 0.7s ease-in-out;
}

.roundBlock {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #050505;
  cursor: pointer;
}

////////////////////////// для подтверждения номера
@media (max-width: 500px) {
  .deliveryPay {
    .userInputAddres {
      .everyChoiceDecor {
        p {
          font-size: 14px;
        }
      }
    }

    &__moreResult {
      padding: 10px;

      .resultAction {
        p {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
        }

        .action {
          span {
            font-size: 16px;
          }

          button {
            background: #b9b9b9;
            font-size: 14px;
          }
        }

        .moreInfo {
          b {
            font-size: 12px;
          }
        }
      }

      .agreementCofidantion {
        .moreText {
          p,
          span {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }

    .everyChoiceDecor {
      .moreInfo {
        width: 100%;
        p,
        span {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}
