.decor {
  animation: page 0.7s ease-in-out;
  margin-top: 40px;

  .actionsDecor {
    display: none;
    @media (max-width: 930px) {
      display: block;
    }
  }
}

@keyframes page {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
