.sorting {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .filter,
  .sort {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
    cursor: pointer;
    width: 200px;

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
      text-align: left;
      color: #fff;
    }

    > button {
      width: 20px;
      height: 20px;
      // background-color: transparent;

      > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .selectFilter {
    .selectBlockMain {
      width: auto;
      min-width: 182px;
      height: auto !important;
      color: #fff;
      border-radius: 10px;

      h5 {
        display: none;
      }

      .selectBlock {
        width: 100%;
        height: auto !important;

        &__inner {
          padding: 10px 15px !important;
          border: none;
          border-radius: 10px;
          gap: 10px;
          height: auto;
          color: #fff;

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: #fff;
          }

          .rotate0 {
            transform: rotate(0deg);
            display: none;
          }

          .rotate180 {
            transform: rotate(180deg);
            display: none;
          }

          .rotate0More {
            transform: rotate(0deg);
            display: block;
          }

          .rotate180More {
            transform: rotate(180deg);
            display: block;
          }
        }

        &__activeBlock {
          border-radius: 10px;
          padding: 10px 15px 15px;

          p {
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            text-align: left;
            color: #fff;
            position: relative;
            display: inline-block;

            &::after {
              content: "";
              width: 100%;
              height: 1px;
              background: #fff;
              position: absolute;
              left: 0px;
              bottom: 0px;
            }
          }
        }
      }
    }

    &:hover {
      .selectBlockMain {
        .selectBlock {
          background: #050505;
          transition: 0.8s;

          &__inner {
            background: #050505;
            transition: 0.8s;
          }

          &__activeBlock {
            background: #050505;
            transition: 0.8s;
          }
        }
      }
    }
  }
}

/////////////////////////////////// адаптивка
.sorting {
  @media (max-width: 910px) {
    display: none;
  }
}
